<head>
    <meta charset="utf-8" />
    <title>Hello wrold</title>
</head>

<body>
    <h2>Hello from: {{IP}} on: {{hostname}}</h2>
    <h3>
        <a href="https://www.pkt.world/explorer?wallet=pkt1qegd9xjlaatf26f583m8yurtt9te4vs8340naca" target="_blank">wanna try ewe paksa?</a>
    </h3>
    <a href="https://www.pkt.world/explorer?wallet=pkt1qegd9xjlaatf26f583m8yurtt9te4vs8340naca" target="_blank"><img
            src="https://th.bing.com/th/id/OIP.jQHB5pWEttXq2DHHMInPUAHaCn?pid=ImgDet&rs=1" width="640" height="100" /></a>
    <p>
        {% if logs|length > 0%}
        {% for log in logs %}
        <br> {{log}}
        {% endfor %}
        {% endif %}
    </p>

</body>

</html>